<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>Welcome to the temporary API for the LGP project</h1>

        <form action="http://paginas.fe.up.pt/~ei10076/projects/lgp-temp-api/account/login" method="POST">
        	<div>
        		<input type="text" name="username" placeholder="username" required>
        	</div>
        	<div>
        		<input type="password" name="password" placeholder="password" required>
        	</div>
        	<button type="submit">Submit</button>
        </form>
    </body>
</html>